$primary-palette: (
	50: #e8edf3,
	100: #c5d2e2,
	200: #9fb5cf,
	300: #7997bb,
	400: #5c80ad,
	500: #3f6a9e,
	600: #396296,
	700: #31578c,
	800: #294d82,
	900: #1b3c70,
	A100: #acc9ff,
	A200: #79a8ff,
	A400: #4687ff,
	A700: #2c77ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #ffffff,
	),
);

$secondary-palette: (
	50: #faf8f0,
	100: #f2ecd8,
	200: #e9e0bf,
	300: #e0d4a5,
	400: #daca91,
	500: #d3c17e,
	600: #cebb76,
	700: #c8b36b,
	800: #c2ab61,
	900: #b79e4e,
	A100: #ffffff,
	A200: #fff8e2,
	A400: #ffebaf,
	A700: #ffe596,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
