<mat-toolbar colors="primary">
	<mat-toolbar-row>
		<span>Kincaid Dev</span>
		<span style="flex: 1 1 auto"></span>
		<button
			mat-icon-button
			*ngIf="!isDarkMode"
			(click)="toggleDarkMode()"
			color="primary"
			matTooltip="Toggle Dark Mode"
			aria-label="Toggle Dark Mode">
			<mat-icon>dark_mode</mat-icon>
		</button>
		<button
			mat-icon-button
			*ngIf="isDarkMode"
			(click)="toggleDarkMode()"
			color="accent"
			matTooltip="Toggle Light Mode"
			aria-label="Toggle Light Mode">
			<mat-icon>light_mode</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

<div class="container">
	<div class="about">
		<span class="name">Matthew Kincaid</span>
		<span class="title">Full-Stack Web Developer</span>
		<span class="description"
			>5+ years of industry experience working with Angular, C#, and SQL</span
		>
	</div>
	<div class="social-buttons">
		<a
			mat-raised-button
			color="primary"
			href="https://kincaid.dev/assets/resume.pdf"
			target="_blank"
			aria-label="External Link to Resume"
			>Resume</a
		>
		<a
			mat-raised-button
			color="primary"
			href="https://www.linkedin.com/in/matthew-kincaid/"
			target="_blank"
			aria-label="External Link to LinkedIn"
			>LinkedIn</a
		>
		<a
			mat-raised-button
			color="primary"
			href="https://github.com/mdkincaid"
			target="_blank"
			aria-label="External Link to GitHub">
			GitHub
		</a>
	</div>
</div>

<router-outlet></router-outlet>
<div *ngIf="isDevEnv" class="corner-ribbon">Dev</div>
