<mat-toolbar colors="primary">
	<mat-toolbar-row>
		<span>Kincaid Dev</span>
		<span style="flex: 1 1 auto"></span>
		<a
			mat-icon-button
			href="https://www.linkedin.com/in/matthew-kincaid/"
			aria-label="External Link to LinkedIn">
			<fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
		</a>
		<a
			mat-icon-button
			href="https://github.com/mdkincaid"
			aria-label="External Link to GitHub">
			<fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
		</a>
		<button
			mat-icon-button
			*ngIf="!isDarkMode"
			(click)="toggleDarkMode()"
			color="primary"
			matTooltip="Toggle Dark Mode"
			aria-label="Toggle Dark Mode">
			<mat-icon>dark_mode</mat-icon>
		</button>
		<button
			mat-icon-button
			*ngIf="isDarkMode"
			(click)="toggleDarkMode()"
			color="accent"
			matTooltip="Toggle Light Mode"
			aria-label="Toggle Light Mode">
			<mat-icon>light_mode</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

<div class="container">
	<span>under construction</span>
	<button mat-raised-button color="primary" (click)="openDialog()">
		Hello
	</button>
</div>

<router-outlet></router-outlet>
<div *ngIf="isDevEnv" class="corner-ribbon">Dev</div>
